<div class="text-xs-right">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu">
      <%= link_to "Alphabetical", menu_path(sort: "alphabetical", section: params[:section]), class:"dropdown-item" %>
      <%= link_to "View", menu_path(sort: "view", section: params[:section]), class:"dropdown-item" %>
      <%= link_to "Price low to high", menu_path(sort: "price low to high", section: params[:section]), class:"dropdown-item" %>
      <%= link_to "Price high to low", menu_path(sort: "price high to low", section: params[:section]), class:"dropdown-item" %>
    </div>
  </div>
</div> <div class="row">
  <div class="col-xl-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "All", menu_path, class: 
          "nav-link #{params[:section].blank? ? "active":""}"%>
       </li>
        <% @sections.each do |section| %>
          <li class="nav-item">
            <%= link_to section, menu_path(section: section), class: 
              "nav-link #{section==params[:section] ? "active":""}"%>
          </li>
        <% end %>
    </ul>
  </div>
</div>
<br>
<br>
  <div class=" row card-column">
    <% @foods.each do |food| %>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card" style="box-shadow: 2px 2px 4px #000000;">
              <%=link_to image_tag(food.image_url, class:"card-img-top img-fluid", alt:"Card image cap"), food_item_path(food) %>
              <div class="card-block" >
                <h3 class="card-title" style="text-shadow: 2px 2px 4px #D8C0D5;">
                  <strong><%= food.name %></strong>
                </h3>
                <p class="card-text" >
                   <%= Faker::Lorem.paragraph  %>
                </p>
                <h5 class="text-xs-right">
                  <span class="label label-pill label-primary">
                    <%= food.price %> VND
                  </span>
                </h5>
                <hr>
                  <div class="text-xs-center">
                    <div class="btn-group">
                      <%= link_to "Đặt hàng", order_path(), 
                        class: "btn btn-secondary"%>
                      <% if session[:order_ids].nil? %>
                       <%= link_to "Đặt vào giỏ hàng",
                        menu_path(order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% else  %>
                     <% if session[:order_ids].include? food.id.to_s %>
                      <%= link_to "Bỏ khỏi giỏ hàng",
                        menu_path(un_order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% else  %>
                        <%= link_to "Đặt vào giỏ hàng",
                        menu_path(order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% end %>
                  <% end %>
                    </div>
                  </div>
              </div>
              <div class="card-footer text-muted">
                 <small>
                   <%=  pluralize(food.view,"view")  %>
                 </small>
                 <small>
                   <%= food.created_at  %>
                 </small>
              </div>
            </div>
          </div>
    <% end %>
  </div>
