<h1>Wellcome#menu</h1>
<p>Find me in app/views/wellcome/menu.html.erb</p>
<ul class="nav nav-tabs">
    <% @sections.each do |section| %>
      <li class="nav-item">
          <%= link_to section, menu_path(section: section), class: 'nav-link' %>
      </li>
    <% end %>
</ul>
<br>
<br>
<div class="card card-column">
  <% @foods.each do |food| %>
      <div class="col-xs-5">
        <div class="card card-danger" style="box-shadow: 2px 2px 4px #000000">
          <%= image_tag food.image_url, class:"card-img-top img-fluid", alt:"Card image cap" %>
          <div class="card-block">
            <h4 class="card-title" style="color: white; font-weight: bold; text-shadow: 2px 2px 4px #000000;"><%= food.name %></h4>
            <p class="card-text" style="color: white;">
               <%= Faker::Lorem.paragraph  %>
            </p>
              <%= link_to "order", menu_path(), class: "btn btn-primary", style: "box-shadow: 2px 2px 4px #000000" %>
          </div>
          <div class="card-footer text-muted">
             <small>
               <%= "145 Views"  %>
             </small>
             <small>
               <%= food.created_at  %>
             </small>
          </div>
        </div>
      </div>
  <% end %>
</div>
