<h1>Wellcome#menu</h1>
<p>Find me in app/views/wellcome/menu.html.erb</p>
<div class="row">
  <div class="col-xl-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "All", menu_path, class: 
          "nav-link #{params[:section].blank? ? "active":""}",
          style: "color: white" %>
       </li>
        <% @sections.each do |section| %>
          <li class="nav-item">
            <%= link_to section, menu_path(section: section), class: 
              "nav-link #{section==params[:section] ? "active":""}",
              style: "color: white;"%>
          </li>
        <% end %>
    </ul>
  </div>
</div>
<br>
<%= console %>
<br>
  <div class=" row card-column">
    <% @foods.each do |food| %>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card" style="box-shadow: 2px 2px 4px #000000;">
              <%= image_tag food.image_url, class:"card-img-top img-fluid", alt:"Card image cap" %>
              <div class="card-block" >
                <h3 class="card-title" style="text-shadow: 2px 2px 4px #D8C0D5;">
                  <strong><%= food.name %></strong>
                </h3>
                <p class="card-text" >
                   <%= Faker::Lorem.paragraph  %>
                </p>
                <h5 class="text-xs-right">
                  <span class="label label-pill label-primary">
                    <%= food.price %> VND
                  </span>
                </h5>
                <hr>
                  <div class="text-xs-center">
                    <div class="btn-group">
                      <%= link_to "Đặt hàng", order_path(), 
                        class: "btn btn-secondary"%>
                      <% if session[:order_ids].nil? %>
                       <%= link_to "Đặt vào giỏ hàng",
                        menu_path(order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% else  %>
                     <% if session[:order_ids].include? food.id.to_s %>
                      <%= link_to "Bỏ khỏi giỏ hàng",
                        menu_path(order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% else  %>
                        <%= link_to "Đặt vào giỏ hàng",
                        menu_path(order: food.id, section: params[:section]), 
                        class: "btn btn-secondary" %>
                    <% end %>
                  <% end %>
                    </div>
                  </div>
              </div>
              <div class="card-footer text-muted">
                 <small>
                   <%= "145 Views"  %>
                 </small>
                 <small>
                   <%= food.created_at  %>
                 </small>
              </div>
            </div>
          </div>
    <% end %>
  </div>
